@import "tailwindcss";
@plugin "daisyui";

button {
  cursor: pointer;
}

@theme {
  --color-basic1: #2c5f2d;
  --color-basic2: #97bc62;

  --color-second1: #6ab187;
  --color-second2: #20948b;
}

.bg-gradient-basic {
  background: linear-gradient(
    to bottom,
    var(--color-basic2) 0%,
    var(--color-basic2) 10%,
    white 100%
  );
}

.bg-gradient-basic2 {
  background: linear-gradient(
    to top,
    var(--color-second2) 0%,
    var(--color-second2) 10%,
    white 100%
  );
}

.bg-nav{
background-color: var(--color-second1);
}

.animate-fade-in {
  opacity: 0;
  transform: translateY(-16px);
  animation: fadeInTranslate 0.5s forwards;
}

@keyframes fadeInTranslate {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


input{
  color: black;
}
textarea{
  color: black;
}